.Login-Form{
    background-color: white;
    width: 30vw;
    padding: 2rem;
    border-radius: 20px;
    border: 15px red solid;
}

.Login-h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px grey;
}

.Login-btn {
    margin-bottom: 1rem;
}