.Allergy-card {
    height: fit-content;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.Allergy-label {
    font-size: 1.5rem;
}

.Allergy-h1 {
    font-size: 3rem;
    font-weight: 600;
}

.Allergies-navlink {
    text-decoration: none;
    color: white;
}