.Diagnosis-card {
    height: 15vh;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.Diagnosis-label {
    font-size: 1.5rem;
}

.Diagnosis-h1 {
    font-size: 3rem;
    font-weight: 600;
}

.Diagnoses-navlink {
    text-decoration: none;
    color: white;
}

.Diagnosis-date-input {
    width: 20vw;
}