.Doctor-card {
    height: 30vh;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.Doctor-label {
    font-size: 1.5rem;
}

.Doctor-h1 {
    font-size: 3rem;
    font-weight: 600;
}

.Doctors-navlink {
    text-decoration: none;
    color: white;
}