.Doctor-card {
    height: fit-content;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.Doctor-label {
    font-size: 1.2rem;
}

.Doctor-h1 {
    font-size: 2rem;
    font-weight: 600;
}

.Doctors-navlink {
    text-decoration: none;
    color: white;
}