.Insurance-card {
    height: fit-content;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.Insurance-label {
    font-size: 1.2rem;
}

.Insurance-h1 {
    font-size: 2rem;
    font-weight: 600;
}

.Insurance-navlink {
    text-decoration: none;
    color: white;
}

.Insurance-date-input {
    width: 20vw;
}

.Insurance-select-input {
    width: 20vw;
}