.Insurance-card {
    height: 40vh;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.Insurance-label {
    font-size: 1.5rem;
}

.Insurance-h1 {
    font-size: 3rem;
    font-weight: 600;
}

.Insurance-navlink {
    text-decoration: none;
    color: white;
}