.Med-card {
    height: fit-content;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.Med-label {
    font-size: 1.2rem;
}

.Med-h1 {
    font-size: 2rem;
    font-weight: 600;
}

.Meds-navlink {
    text-decoration: none;
    color: white;
}

.Med-date-input {
    width: 20vw;
}

.Med-select-input {
    width: 45vw;
}