.Symptom-card {
    height: 25vh;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.Symptom-label {
    font-size: 1.5rem;
}

.Symptom-h1 {
    font-size: 3rem;
    font-weight: 600;
}

.Symptoms-navlink {
    text-decoration: none;
    color: white;
}

.Symptom-date-input {
    width: 20vw;
}