#FamilyMember-main {
    width: 90vw;
    height: 82vh;
    background-color: white;
    overflow: scroll;
    color: black;
    border: 15px red solid;
    border-radius: 15px;
    padding: 0;
    margin: 0;
  }


.FamilyMember-card {
    height: 15vh;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.FamilyMember-label {
    font-size: 1.5rem;
}

.FamilyMember-h1 {
    font-size: 3rem;
    font-weight: 600;
}

.FamilyMember-date-input{
    width: 20vw;
}