#Home-main {
    width: 90vw;
    height: 82vh;
    background-color: white;
    overflow: scroll;
    color: black;
    border: 15px red solid;
    border-radius: 15px;
    padding: 0;
    margin: 0;
  }

.Home-title{
    margin-bottom: 1rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px grey;
    font-size: 3rem; 
    padding-top: 1rem;
}

.Home-text {
    font-size: 1.5rem; 
}

.Home-btns{
    text-align: center;
}

.Home-btn{
    color: black !important;
    text-decoration: none;
    font-size: 2.5rem !important;
    font-weight: bold !important;
    transition: color 0.5s;
    margin: 1rem; 
    padding: 1rem;
    background-color: red !important;
    box-shadow: 5px 5px 8px black;
    border:0 !important;
    width: 20vw !important;
    transition: all 0.6s !important;
}

.Home-btn:hover{
    background-color: black !important;
    box-shadow: 5px 5px 8px red;
    width: 23vw !important;
    font-size: 2.7rem !important;
    color:red !important;
}

.Home-addMember{
    color: white !important;
    font-size: 1.5rem;
    text-decoration: none;
    width:12vw;
}

.Home-familymember{
    background-color: red !important;
    width: 50vw;
    margin: auto;
    border:0 !important;
}