.Loading {
    background-color: rgb(243, 165, 22);
    border-color: rgb(243, 165, 22);
    color: white;
    width: 30vw;
    text-align: center;
}

.Loading-title {
    font-size: 2rem;
    font-weight: 600;
}